@media (min-width: 769px) {
  .woocommerce ul.products li.product {
    align-items: initial;
  }
}
@media (min-width: 1200px) {
  .primary-menu.navbar .nav-item:hover .nav-link {
    color: #9DA632 !important;
    background-color: transparent;
  }
  .primary-menu-inner {
    max-width: 1170px;
  }
  .container {
    max-width: 1170px;
  }
  .orderStatusBanner {
    margin-top: -40px;
  }
  #order-received-section .orderStatusBanner {
    margin-top: 0 !important;
  }
  .woocommerce ul.products li.product a img {
    width: auto !important;
    min-height: 330px !important;
  }
  .single-product ul.products li.product a img {
    min-height: 330px !important;
    margin-bottom: 15px;
  }
  .woocommerce-notices-wrapper {
    max-width: 1170px;
    margin: 20px auto 0;
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
  }
  .container-shop {
    max-width: 1170px;
    padding: 0 15px;
  }
  .container-product {
    max-width: 100%;
  }
  .woocommerce .container-product div.product div.summary {
    border: none;
  }
  .megaMenu .productCategoryFilterForm {
    width: 100%;
  }
  .megaMenu .productCategoryFilterForm .colGroup {
    overflow: hidden;
  }
  .megaMenu .productCategoryFilterForm .colGroup .col {
    width: 20%;
    max-width: 20%;
    flex: 20%;
  }
  .megaMenu .featuredCategoryFilterForm {
    width: 100%;
  }
  .megaMenu .featuredCategoryFilterForm .colGroup {
    overflow: hidden;
  }
  .megaMenu .featuredCategoryFilterForm .colGroup .col {
    width: 25%;
    max-width: 25%;
    flex: 25%;
  }
  .productFilter .filterDropdown {
    margin-right: 10px;
  }
  .productFilter .filterDropdown:last-child {
    margin-right: 0;
  }
  .related.products {
    max-width: 1488px;
    margin: 80px auto 0;
  }
  .viewAllProducts .container-fluid {
    max-width: 1488px;
  }
  .productFilterResultWrapper .container-fluid,
  .featuredFilterResultWrapper .container-fluid {
    max-width: 1488px;
  }
}
@media screen and (max-width: 1199px) {
  :root #main-header {
    margin-bottom: -1px;
  }
  .dropdown-menu li {
    margin-bottom: 0;
  }
  #pr-nav.open-pr-nav {
    position: static !important;
  }
  .header-icons {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 65px;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
  #magic-search {
    width: 94%;
    position: absolute;
    top: 0;
  }
  .age-gate {
    margin-top: 5%;
  }
  .age-gate__heading-title--logo {
    margin-bottom: 0;
    height: 180px;
    width: auto;
  }
  .megaMenu {
    top: 60px;
    min-height: 92%;
    box-shadow: none;
  }
  .megaMenu .btnWrapper {
    background-color: #969F2B;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    color: black;
    position: static;
  }
  .megaMenu .btnWrapper .backMenu {
    visibility: visible;
    opacity: 1;
  }
  .megaMenu .btnWrapper .closeMenu {
    background: transparent;
  }
  .megaMenu .colGroup {
    flex-direction: column;
  }
  .megaMenu .colGroup .col {
    border-right: none;
    border-bottom: solid 1px #000000;
  }
  .megaMenu .colGroup h5:after {
    width: 40px;
    height: 27px;
    position: absolute;
    right: 0;
    top: 0;
    content: '\002B';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
  }
  .megaMenu .colGroup h5.open:after {
    content: '\002D';
    font-size: 35px;
  }
  .megaMenu .labelGroup {
    display: none;
  }
  .megaMenu .labelGroup h5:after {
    display: none;
  }
  .megaMenu .menuFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }
  .megaMenu .menuFooter .selectAll,
  .megaMenu .menuFooter .sortBtn {
    width: 120px;
  }
  .myProfile h1,
  .orderHistory h1 {
    margin-top: 0;
  }
  .scriptHistoryWrapper {
    padding-bottom: 40px;
  }
  .innerBanner .caption {
    min-height: 248px;
  }
  .innerBanner.loginBanner {
    margin-top: -30px;
  }
  .account_full_width {
    padding-top: 0rem;
  }
  .ordertrakingWrapper {
    padding: 20px 0 60px;
  }
  .orderDetailWrapper,
  .woocommerce-customer-details {
    padding: 25px 0;
  }
  .orderDetail {
    overflow-x: scroll;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .orderDetail table {
    width: 650px !important;
  }
  .productFilterResultWrapper .products,
  .viewAllProducts .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 967px) {
  .stepsWrapper:before {
    top: 205px;
  }
  .myProfile p strong {
    max-width: 160px;
  }
  .spacerHide {
    display: none;
  }
  .productFilterResultWrapper .products,
  .viewAllProducts .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .filteredPosts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .megaMenu {
    min-height: 90%;
  }
  .megaMenu .productCategoryFilterForm,
  .megaMenu .featuredCategoryFilterForm {
    max-height: 350px;
  }
  .age-gate__headline {
    font-size: 18px;
    line-height: 20px;
  }
  .age-gate__subheadline {
    font-size: 16px;
    margin-bottom: 0;
  }
  .stepsWrapper:before {
    display: none;
  }
  .stepsWrapper .step1,
  .stepsWrapper .step2,
  .stepsWrapper .step3,
  .stepsWrapper .step4 {
    background-color: #416b29;
    padding: 10px;
    margin-top: -20px;
  }
  .stepsTitle {
    font-size: 38px !important;
    line-height: 28px !important;
  }
  .stepsTitle span {
    font-size: 20px;
    display: block;
    margin-top: 5px;
  }
  .stepsTitle span + br {
    display: none;
  }
  .productCategorySlider h2 {
    line-height: 50px;
  }
  .productFilter {
    padding-bottom: 0;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .productFilter .elementor-widget-container {
    flex-direction: column;
  }
  .productFilter .filterDropdown {
    width: 100%;
    margin-bottom: 10px;
  }
  .productFilter .filterDropdown .toggleBtn {
    width: 100%;
    justify-content: flex-start;
    padding-left: 15px;
  }
  .productFilter .filterDropdown .dropdown {
    max-width: 94.6%;
  }
  .featuredWrapper .woocommerce-ordering {
    width: 100%;
    margin-right: 0;
  }
  .featuredWrapper .woocommerce-result-count {
    top: -440px;
  }
  .single-product .backBtn .elementor-button-text {
    padding-right: 15px;
    height: 90px;
    line-height: 160px;
    background-size: auto;
  }
  .single-product .prouductInfo {
    text-align: left;
    padding-right: 0;
  }
  div[role="tablist"] span:after {
    display: none;
  }
  .related.products h6 {
    font-size: 35px;
    margin: 0;
  }
  .productDescriptionTab button {
    background: #f1f8f9 !important;
  }
  .productDescriptionTab button[aria-selected="true"] {
    background: #63a7b6 !important;
  }
  .effectsDuration table {
    font-size: 16px;
    width: 200%;
  }
  .elementor-post__card .elementor-post__title a {
    font-size: 22px;
    min-height: auto;
  }
  .elementor-post__card .elementor-post__read-more {
    font-size: 14px;
  }
  .registration .elementor-field-option label {
    font-size: 16px !important;
  }
  .registration .elementor-col-20 {
    white-space: normal;
  }
  .registration #registerNow {
    font-size: 20px;
  }
  .productDetails .single_add_to_cart_button {
    min-width: 160px !important;
  }
  .productDetails .single_variation_wrap {
    width: 100%;
    justify-content: space-between;
  }
  .productDetails .single_variation_wrap .single_variation {
    margin-right: 0 !important;
  }
  .productDetails .single_variation_wrap .rxDeductionAmount {
    font-size: 12px;
  }
  .productDetails .single_variation_wrap .addToCartGroup {
    top: 65px;
  }
  .productDetails .flexGroup {
    flex-wrap: wrap;
  }
  .productDetails .productPrice {
    width: 100%;
    margin-top: 15px;
  }
  .productDetails .iconWrapper .icon {
    margin-left: 15px;
  }
  .productDetails .variations {
    flex-direction: column;
    align-items: flex-start;
  }
  .productDetails .variationGroup {
    margin-bottom: 20px;
    width: 100%;
  }
  .productDetails .productQuantity {
    align-items: flex-start;
    width: 32%;
  }
  .productFilterResultWrapper .products,
  .viewAllProducts .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .filteredPosts {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-post {
    padding-top: 0;
  }
  .blog-post .featured-media img {
    border-radius: 0 !important;
  }
  .blog-post .elementor-widget-text-editor p {
    font-size: 16px;
  }
  .theme-contact-form .mcf-submit p .wpcf7-submit {
    min-width: 100%;
  }
  .featuredFilterResultWrapper .titleWrapper h5,
  .productFilterResultWrapper .titleWrapper h5,
  .viewAllProducts .titleWrapper h5 {
    font-size: 25px;
    line-height: 35px;
  }
  .featuredFilterResultWrapper .productFilter,
  .productFilterResultWrapper .productFilter,
  .viewAllProducts .productFilter {
    padding-bottom: 20px;
  }
  .featuredFilterResultWrapper .product-count,
  .productFilterResultWrapper .product-count,
  .viewAllProducts .product-count {
    margin-bottom: 10px;
  }
  .featuredFilterResultWrapper .products,
  .productFilterResultWrapper .products,
  .viewAllProducts .products {
    grid-row-gap: 40px;
  }
  .featuredFilterResultWrapper .viewAllBtn,
  .productFilterResultWrapper .viewAllBtn,
  .viewAllProducts .viewAllBtn {
    text-align: left;
    margin: 0 0 -25px;
  }
  .single-product .product_title {
    height: 68px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
  }
  .single-product .productDetails .single_add_to_cart_button,
  .single-product .productDetails .continue-shopping-button {
    font-size: 18px;
  }
  .prescription-wrapper {
    padding: 0 10px;
    font-size: 14px;
  }
  .white-card,
  .grey-card {
    padding: 10px;
  }
  h1,
  h1.header-title {
    font-size: 35px;
  }
  h5 {
    font-size: 25px;
  }
  .featuredFilterResultWrapper .titleWrapper,
  .productFilterResultWrapper .titleWrapper,
  .viewAllProducts .titleWrapper {
    padding: 5px 0;
  }
  .featuredFilterResultWrapper .titleWrapper h5,
  .productFilterResultWrapper .titleWrapper h5,
  .viewAllProducts .titleWrapper h5 {
    font-size: 20px;
  }
  .featuredFilterResultWrapper .productTopbar,
  .productFilterResultWrapper .productTopbar,
  .viewAllProducts .productTopbar {
    flex-direction: column;
  }
  .singleProductContainer {
    padding: 30px 0;
  }
  .singleProductContainer .product-title {
    font-size: 20px;
    line-height: 24px;
    min-height: 44px;
    display: flex;
    align-content: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
  }
  .singleProductContainer .productTitleWrapper {
    padding: 0 15px;
  }
  .singleProductContainer .productInfoDetails,
  .singleProductContainer .woocommerce-tabs {
    padding: 0 15px;
  }
  .single_variation_wrap .single_variation p.stock,
  .single_variation_wrap .single_variation p.out-of-stock {
    position: static;
  }
  .related.products h2 {
    font-size: 28px;
    margin-bottom: 0;
  }
  .related.products .productCount {
    margin-top: 0;
    font-size: 16px;
  }
  .woocommerce ul.products li.product a img {
    min-height: 385px !important;
  }
  .single-product ul.products li.product a img {
    min-height: 385px !important;
  }
  .woocommerce-variation-availability {
    min-width: 160px;
    text-align: center;
    font-size: 14px;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    background-color: #6EB0BE !important;
    border-radius: 0;
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li a {
    border: none;
  }
  .woocommerce ul.products li.product .button {
    min-width: 100%;
  }
  .slick-slide img {
    object-fit: cover;
  }
}
@media (max-width: 379px) {
  #pr-nav {
    padding: 10px 5px !important;
  }
  .woocommerce ul.products li.product a img {
    min-height: 350px !important;
  }
  .single-product ul.products li.product a img {
    min-height: 350px !important;
  }
}
